@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "antd/dist/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
}

.ant-dropdown-menu-item-group-list {
  margin: 0 !important;
  max-height: 500px;
  overflow-y: auto;
}

.ant-dropdown-open {
  color: white;
  background-color: #ff7506;
}

.ant-dropdown-menu {
  padding: 0px !important;
}

.ant-dropdown-menu-item-group-title {
  padding: 0 !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #ff9138;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #ff7506 !important;
}

.ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #ff7506 !important;
}

.custom-chart-select .ant-select-selector {
  border-color: #d4d4d7 !important;
  box-shadow: 0px 2px 6px 0px rgba(219, 219, 219, 0.5) !important;
}
.custom-user-select .ant-select-selector {
  border-width: 1.5px !important;
}

.ant-select-dropdown {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ant-select-item-option-selected,
.ant-select-item-option-active {
  background-color: #fff2e7 !important;
}
.ant-select-item {
  padding: 10px 12px !important;
  border-radius: unset !important;
}
.custom-dropdown-sidebar .ant-dropdown {
  width: 200px !important;
  left: 100% !important;
  top: 0 !important;
  transform: none !important;
}
.custom-dropdown-sidebar .ant-dropdown-menu {
  border-radius: 0px !important;
  border-end-end-radius: 12px !important;
  border-start-end-radius: 12px !important;
}

.custom-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}
.ant-pagination-item {
  background-color: transparent !important;
}
.ant-pagination-item a {
  color: #a9a9b0 !important;
}
.ant-pagination-item-active a {
  color: #ffffff !important; /* Màu chữ của trang đang active */
}

.ant-pagination-item-active {
  background-color: #ff7506 !important; /* Màu nền của trang đang active */
  border-color: #ff7506 !important; /* Màu viền của trang đang active */
}

.ant-pagination-item:hover a {
  color: white !important; /* Màu chữ khi hover */
}

.ant-pagination-item:hover {
  border-color: #ff7506 !important;
  background-color: #ff7506 !important;
}

.custom-multiple-select .ant-select-selector {
  border: 1.5px solid #d4d4d7 !important; /* Tùy chỉnh màu border */
  padding: 4px 12px !important; /* Tùy chỉnh padding */
}
.custom-multiple-select.border-changed .ant-select-selector {
  border-color: #ffac6a !important; /* Màu border khi có ít nhất một trường select */
}

.custom-multiple-select .ant-select-selection-placeholder {
  font-family: "Nunito", sans-serif;
  color: #a9a9b0; /* Màu của placeholder */
  font-size: 16px;
}

.custom-multiple-select .ant-select-selection-item {
  font-family: "Nunito", sans-serif;
  color: white !important; /* Màu của text */
  font-weight: 700 !important;
  background-color: #ffac6a !important;
  gap: 10px;
}
.custom-modal .ant-modal-content {
  padding: 0 !important;
  border-radius: 24px;
}
.custom-report-select .ant-select-selector {
  border-width: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
}
.custom-report-select .ant-select-selector .ant-select-selection-item span {
  color: white;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  font-weight: 700;
}
.custom-report-select .ant-select-selection-item {
  align-items: center;
  background-color: transparent !important;
}
.custom-calendar .ant-picker-content th {
  color: #ff7506 !important;
}
